@model Joke?
@{
    ViewData["Title"] = "Home Page";
}

@if (Model is null)
{
    <h1>Your joke could not be retrieve, please try again</h1>
}
else
{
    <h2>ID - @Model.id : @Model.category</h2>

    @if (Model.joke is not null)
    {
        <p>@Model.joke</p>
    }
    else if (Model.setup is not null && Model.delivery is not null)
    {
        <p>@Model.setup</p>
        <p><strong>@Model.delivery</strong></p>
	}
}