@model Joke?
@{
    ViewData["Title"] = "Home Page";
}

@if (Model is null)
{
    <h1>Your joke could not be retrieve, please try again</h1>
}
else
{
    <h2>ID - @Model.Id : @Model.Category</h2>

    @if (Model.JokeText is not null)
    {
        <p>@Model.JokeText</p>
    }
    else if (Model.Setup is not null && Model.Delivery is not null)
    {
        <p>@Model.Setup</p>
        <p><strong>@Model.Delivery</strong></p>
	}
}